In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config2 import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-10-27 23:12:45,-23.12,-134.97,75.43,83,100,16.69
1,1,Scottsbluff,US,2020-10-27 23:16:21,41.87,-103.67,34.00,87,1,5.82
2,2,Narsaq,GL,2020-10-27 23:17:30,60.92,-46.05,32.00,97,100,2.24
3,3,Kalmunai,LK,2020-10-27 23:17:30,7.42,81.82,78.64,82,53,7.02
4,4,Ossora,RU,2020-10-27 23:17:30,59.24,163.07,34.20,85,79,6.98

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature(F) you would like for your trip? "))
max_temp = float(input("What is the maximum temperature(F) you would like for your trip? "))

What is the minimum temperature(F) you would like for your trip? 75
What is the maximum temperature(F) you would like for your trip? 90

In [18]:
# Filter dataset to find cities that meet criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2020-10-27 23:12:45,-23.12,-134.97,75.43,83,100,16.69
3,3,Kalmunai,LK,2020-10-27 23:17:30,7.42,81.82,78.64,82,53,7.02
10,10,Bathsheba,BB,2020-10-27 23:17:08,13.22,-59.52,80.60,88,20,11.41
14,14,Hirara,JP,2020-10-27 23:17:32,24.80,125.28,75.20,83,20,6.93
15,15,Vaini,TO,2020-10-27 23:17:32,-21.20,-175.20,77.00,78,20,12.75
16,16,Kapaa,US,2020-10-27 23:16:54,22.08,-159.32,82.99,69,75,3.36
20,20,Yeppoon,AU,2020-10-27 23:17:34,-23.13,150.73,77.00,69,1,3.36
22,22,Sao Filipe,CV,2020-10-27 23:17:34,14.90,-24.50,81.14,73,100,2.93
26,26,Davila,PH,2020-10-27 23:17:35,18.47,120.58,78.80,100,75,4.70
29,29,Butaritari,KI,2020-10-27 23:17:36,3.07,172.79,81.09,66,100,4.63

In [19]:
preferred_cities_df.count()

City_ID       155
City          155
Country       155
Date          155
Lat           155
Lng           155
Max Temp      155
Humidity      155
Cloudiness    155
Wind Speed    155
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel name
0      Rikitea      PF     75.43 -23.12 -134.97
3     Kalmunai      LK     78.64   7.42   81.82
10   Bathsheba      BB     80.60  13.22  -59.52
14      Hirara      JP     75.20  24.80  125.28
15       Vaini      TO     77.00 -21.20 -175.20
16       Kapaa      US     82.99  22.08 -159.32
20     Yeppoon      AU     77.00 -23.13  150.73
22  Sao Filipe      CV     81.14  14.90  -24.50
26      Davila      PH     78.80  18.47  120.58
29  Butaritari      KI     81.09   3.07  172.79

In [23]:
# Set parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the lat and long
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add teh lat and long to location key for the params dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [26]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel name,Hotel Name
0,Rikitea,PF,75.43,-23.12,-134.97,,Pension Maro'i
3,Kalmunai,LK,78.64,7.42,81.82,,VS Villa
10,Bathsheba,BB,80.60,13.22,-59.52,,Atlantis Hotel
14,Hirara,JP,75.20,24.80,125.28,,Hotel Atoll Emerald Miyakojima
15,Vaini,TO,77.00,-21.20,-175.20,,Keleti Beach Resort
16,Kapaa,US,82.99,22.08,-159.32,,Sheraton Kauai Resort at Coconut Beach
20,Yeppoon,AU,77.00,-23.13,150.73,,Villa Mar Colina
22,Sao Filipe,CV,81.14,14.90,-24.50,,Tortuga B&B
26,Davila,PH,78.80,18.47,120.58,,SITIO 3 DAVILA PASUQUIN
29,Butaritari,KI,81.09,3.07,172.79,,Isles Sunset Lodge

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add heatmap for temp for vacation spots and marker for each city
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call fig
fig

Figure(layout=FigureLayout(height='420px'))